//mis variables
$vista: mobile;
$color_negro_fine:#161920;
$color_smooth:#ca6e69;
$color_beauty: #2d4f59;
$color_peak:#7a95b7;
$color_parrafo_general: #0d8196;
$color_parrafo_respuestas:#59435f;
$color_parrafo_shop: #3382ab;